* {
  padding: 0;
  margin: 0;
  
}

form.search {
    overflow: auto;
    margin-bottom: 10px;
  }
  
  form.search button[type="submit"] {
    float: right;
    margin-top: 10px;
  }


  #map {
    height: 400px;
    width: 100%;
    position: center;
}

.map-container {
  width: 80%;
  padding: 5px;
  margin-bottom: 10px;
  border-bottom: black;
  margin: auto;
  border-radius: 10px;
}

.list {
  height:500px;
  overflow:scroll;
  overflow-x:hidden;
}
.card-title {
  background-color: rgb(255, 255, 255);
  color: rgb(51, 4, 4);
  font-size: 20px;;
}

.jumbotron {
  /* padding: 0; 
  margin: 2rem; */
   background-color: rgb(255, 255, 255);
  border-radius: .3rem;
  position: center;
}
.button-style{
  display: block;
  padding: 0.7em 1.7em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color:rgb(70, 5, 5);
  background-color:#ffffff;
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),
  inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),
  inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  text-align:center;
  position: center;
}

a {
  color: rgb(245, 243, 243);
  text-decoration: none;
  /* background-color: rgba(0, 0, 0, 0); */
}
 p {
   color: rgb(27, 27, 27);
 }

