* {
  
  margin: auto;
}

  .carousel {
    
    position: fixed;
    width: 100%;
    height: 100vh;
    height: 100%;
    overflow:visible;
    margin-top: 5px;
    background-color: black;
}
.carousel .carousel-inner {
    height:100%;    
}

h1 {
  color: rgb(255, 255, 255);
  text-emphasis-style: bold;
}

p {
  color: rgb(248, 248, 248);
  text-emphasis: bold;
}

.btn {
  margin: 10px;
  background-color:rgb(27, 0, 0);
  color: white;
  position: inline-block;
} 

.welcome {
  text-align: center;
  width: 700px;
  height: 200px;
  padding: 20px;
  position: fixed;
  top: 30%;
  left: 22%;
  margin-right: 22px;
  margin-top: -20px;
  margin: auto;
  background: rgba(54, 1, 1, 0.438);
  color: rgb(255, 255, 255);
  border-radius: 20px;
}


#wrapper {
  display: flex;
  position: relative;
}

#register {
  flex: 0 0 65%;
}

#login {
  flex: 1;
}


  img {
    -webkit-transition: -webkit-transform 0.4s; /* Safari */
    transition: transform 0.4s;
  }
  img:hover {
    -webkit-transform: scale(1.02); /* Safari */
    transform: scale(1.02);
  }



